body{
    background-color: rgba(179, 179, 179, 0.842);
    font-size: 150%;
    margin-left: 1%;
    margin-top: 1%;
}

h1{
    text-align: center;
}

a{
    color: black; /* met les liens en noirs */ 
}

#photo{
    position:absolute;
    top: 2%;
    right: 1%;
    width: 200px;
    height: 200px;
}
